
.page-location {
  font-size: 13px;
  color: #ccc;
  font-family: "Opensans regular";
  padding-bottom: 20px;
}

.page-location>span {
  color: black;
}


/*großes bild oben*/
.jumbotron{
  background-image: url("../img/header_img/comillas.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 16rem 2rem;
}


.logo {
  z-index: 9999;
}


.jumbotron {
  position: relative;
  padding: 21rem 2rem;
}

.heading-text {
    margin-top: 150px;
    padding: 25px;
    position: absolute;
    bottom: 100px;
    left: 25%;
    background-color: #bababab8;
}

.row h4 {
  font-family: Opensans semibold;
}

.freizeit-bild img {
  width: auto;
}

.freizeit-bild figure {
  padding: 15px;
}

.freizeit-description {
  padding-bottom: 35px;
  font-family: "Opensans regular";
}

.freizeit-termin {
  padding-bottom: 50px;
  font-family: "Opensans regular";
}

.freizeit-termin h6,h3 {
  font-family: Opensans semibold;
}

.anmelden-btn {
  border: 2px solid #e51d30;
  padding: 6px;
  display: inline-block;
  font-size: 12px;
  font-family: Opensans semibold;
  cursor: pointer;
  color: #e51d30;
  position: absolute;
  left: 20%;
}

.anmelden-btn:hover {
  color: #fff;
  background-color: #e51d30
}

.info-box {
  width: 100%;
  background-color: #e51d30; 
  padding: 10px;
  display: inline-block;
  font-size: 18px;
  font-family: Opensans semibold;
  cursor: pointer;
  color: #fff;
}

.info-box:hover {
  background-color: #eb4f5e;
}

figcaption>p {
  font-size: 13px;
  padding-top: 5px;
  font-family: "Opensans regular";
}

.extra-info {
  margin-bottom: 150px;
}

.table li {
  list-style-type: none;
}

.table .btn {
  background-color: #e51d30;
  border: none;
}

.table a {
  color: #e51d30;
}

.table .btn:hover {
  background-color: #eb4f5e;
}




@media (max-width: 990px) {
  .info-box {
    font-size: 15px;
    width: 108%;
    margin: 5px;
  }
  .heading-text {
    left: 5%;
  }
}

/*carousel*/

.carousel {
  background: #FAFAFA;
  margin-bottom: 40px;
}

.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-nav .carousel-cell {
  height: 80px;
  width: 100px;
}

.carousel-nav .carousel-cell:before {
  font-size: 50px;
  line-height: 80px;
}

.carousel-nav .carousel-cell.is-nav-selected {
  background: #ED2;
}
